body {
      padding-top: 40px;
    } 
      #aboutme,
      #skills,
      #text-list,
      #text {
        color: white;
      }

      #home {
        text-align: center;
        margin-bottom: 0;

      }
      

      /*@media screen and (min-width: 350px){
      
        img-circle { height: 140px;}
       
      }

      */
     @media screen and (max-width: 720px) {

      img {max-width: 160px; }
      }

      @media screen and (min-width: 900px){

        img {width: 250px; }
      }

      #about-me-green {
        background-color: #26A69A;
      }

      #skills-purple {
        background-color: #3949AB
      }

      #home {
        background-color: #03A9F4;
      }

      pre,
      #footer-color {
        background-color: #333
      }

      .navbar-custom {
        background-color: #333;
        color: #ffffff;
        border-radius: 0;
      }

     .navbar-custom .navbar-nav>li>a {
        color: #fff;
      }

      .navbar-custom .navbar-nav>.active>a {
        color: #ffffff;
        background-color: transparent;
      }

      .nav > li > a:hover, .nav > li > a:focus {
       /* background-color: #333;*/
        text-decoration: none;
      }

      .navbar-custom .navbar-brand {
        color: #eeeeee;
      }

      .navbar-custom .navbar-toggle {
        background-color: #333;
      }
      

    .navbar-custom .icon-bar {
        background-color: #eeeeee;
    }