* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
	background: #ccc; 
    background: -webkit-linear-gradient(left top,#2078f3, #49f8b7); 
    background: -moz-linear-gradient(bottom right,#2078f3, #49f8b7); 
	font-family: arial, verdana, tahoma;
}

h1, .otherinfo, .paragraph {
    width: 400px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 10px;
}

.accordian {
	width: 1200px; height: 500px;
	overflow: hidden;
	

    margin: 100px auto; 
    border-radius: 10px;
	
}


.accordian li {
	position: relative;
	display: block;
	width: 260px;
	float: left;
    transition: all 0.5s;
    border-radius: 10px;

}

accordian ul { width: 2000px;}

.accordian ul:hover li {width: 90px;}
.accordian ul li:hover {width: 640px;}



