* {
    margin: 0px;
    height: 100%;
    padding: 0px;
    border: 0px;
    font-family: arial, verdana, tahoma;
}

.navbar {

    background-color: #282e34;
    height: 14%;
    position: static;
}

.topleft { 
    
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 10px;
    position: right;

}


.topleft li {

    list-style-type: none;
    color: white;
    float: right;
    position: right-center;  
    width: 7em;
    font-size: 26px;
    
}

.img1, .img2, .img3, .img4{

    min-width: 50%;
    min-height: 50%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

#IMALEC, #ABOUTME, #SKILLS {

    font-size: 45px;
    display: inline-block;
    height: 100px;
    padding-top: 25%;
    color: white;
    letter-spacing: 10.1px; 

}

.header2, .header3, .header4 {

    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    height: initial;
}

.header3 {
    
    height: 250px;
}

.header4 {

    min-height: 40%;
}

.paragraph {

    color: white;
    font-size: 20px;
    line-height: 2em;
}

.hobbies ul, .skills ul {

    float: center;
    margin: auto;
    width: 200px;
    height: 50px;
    color: white;
    font: 30px;
}

li { 
    
    height: 50px;
    text-align: center;
}

#HobbiesHeader {

    font-size: 30px;
    height: 90px;    
    text-align: center;
    color: white;
}

.hobbies, .Skills { color: white; }

.img1 { background-image: url("http://i.imgur.com/wXdoY3z.jpg"); }
.img2 { background-image: url("http://i.imgur.com/NPI7QOh.jpg"); }
.img3 { background-image: url("http://i.imgur.com/HvFJauf.jpg"); }

.footer { 
    background-color: #282e34;
    height: initial;
}

.media { 
    text-align: center;
    letter-spacing: 2em;
}

a { color: white; }

/* media queries will save your ass for mobile lol */

@media (max-width: 740px) {

 /* insert normal css here */ 
 .navbar{  height:20%; }
}
#IMALEC, #ABOUTME, #SKILLS {  padding-top: 60%;  }

@media (max-width: 1000px) {

#IMALEC, #ABOUTME, #SKILLS {  padding-top: 40%;  }


}


